<div style="background-color:  rgb(244, 244, 248);border: 2px solid lightgrey ;margin-top: 3% ; width: 30%; margin-left: 35%"
    class="container">
    <img src="../../assets/images/email-step.svg" style="width:60%; margin-left: 18%">
    <br>
    <small class="col-sm-10">Create an account with us and start exploring our product.
        It won’t take more than a few steps, we promise.</small>

    <div>
        <form (ngSubmit)="onBegin()" [formGroup]="Begin" >

            <div class="row" style="margin-left: 6%;width: 89%">
                <input type="text" placeholder="  First Name" formControlName="fname" class=" col "
                    style="height: 37px;width: 43%;" required>
                <input type="text" placeholder="  Last Name" formControlName="lname" required class="col "
                    style="margin-left: 5px;width:43%; height: 37px; border: default">
            </div>
            <div class="media-body">
                <input type="text" required formControlName="email"
                    placeholder="  Please Enter your Corporate E-mail Id here" class="mt-3 col-sm-12"
                    style="margin-top:20px; margin-left: 6%; height: 37px; width: 89%">
            </div>
            <div class="media-body">
                <button type="submit" class="btn btn-lg col-sm-12 " 
                    [disabled]="!Begin.valid"
                    style="margin-left: 20px; border: none;font-size: 20px; margin-left: 6%;height: 37px; margin-top:20px; width: 89%;color: white; background-color: rgb(255, 115, 0)">Let's
                    Begin</button>
            </div>
        </form>
    </div>

</div>