.side {
    font: 16px "IBM Plex Sans", Helvetica, Arial;
    display: block;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-right: 0;
    box-shadow: 0 0 10px lightgrey;
}

.scrollmenu {
    height: 99%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#logo {
    padding-left: 20%;
    padding-top: 8%;
    width: 77%;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 3%;
    height: 4%;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

span.tab-space {
    padding-left: 7em;
    color: grey;
}

.top {
    height: 37px;
    padding-top: 7px;
    margin-top: 2px;
}

.top:hover {
    color:white;
    background-color: rgb(188, 176, 222);
}

.cont {
    margin-top: 3%;
    position: fixed;
    margin-left: 25%;
}

hr {
    color: blue;
    border: 1px solid blue;
}

.select {
    width: 90%;
    display: block;
    box-shadow: inset 0 0 10px solid grey;
}

.rad {
    font-size: 14px;
}

input[type='radio'].checked {
    color: orangered;
}

input[type=radio] {
    width: 19px;
    height: 19px;
}