<div class="row ">
    <div class="col-md-3 row side">
        <div class="scrollmenu">
            <img src="https://res.cloudinary.com/dyyjph6kx/image/upload/f_auto/webui/eng/xoxoday-logo.svg" id="logo">
            <a data-toggle="collapse" href="#townhall">
                <div id="accordion" class="col-sm-12 top" style="margin-top:25%">
                    <b>

                        Groups
                    </b>
                </div>
            </a>
            <div id="townhall" class="collapse col-sm-12 top show" style="padding-left: 20px " data-parent="#accordion">
                <a routerLink="/side-nav/groups"><img style="width: 10%" class="rounded"
                        src="../../assets/images/profile.jpeg"> Rhitu Townhall</a>

            </div>
            <b>
                <div class="col-sm-12 top" id="accordion">
                    <a data-toggle="collapse" href="#awards">Awards</a>
                </div>
            </b>
            <div id="awards" class="collapse col-sm-12 top " style="padding-left: 20px " data-parent="#accordion">
                <a routerLink="/side-nav/give-award"><img style="width: 10%" class="rounded"
                        src="../../assets/images/platform-settings.svg"> Give an Awards</a>

            </div>
            <div id="awards" class="collapse col-sm-12 top " style="padding-left: 20px " data-parent="#accordion">
                <a routerLink="/side-nav/manage-budget"><img style="width: 10%" class="rounded"
                        src="../../assets/images/billing-information.svg"> Manage Budget</a>

            </div>
            <div id="awards" class="collapse col-sm-12 top " style="padding-left: 20px" data-parent="#accordion">
                <a routerLink="/side-nav/user"><img style="width: 10%" class="rounded"
                        src="../../assets/images/user-management.svg"> Award List</a>

            </div>
            <div id="awards" class="collapse col-sm-12 top " style="padding-left: 20px " data-parent="#accordion">
                <a routerLink="/side-nav/automated-greetings"><img style="width: 10%" class="rounded"
                        src="../../assets/images/points-administration.svg"> Automated Greetings</a>

            </div>
            <b>
                <div class="col-sm-12 top">
                    <a href="#">Redeem Points</a>
                </div>

                <div class="col-sm-12 top" id="accordion">
                    <a data-toggle="collapse" href="#admin">Admin</a>
                </div>
            </b>
            <div id="admin" class="collapse col-sm-12 top " style="padding-left: 20px " data-parent="#accordion">
                <a routerLink="/side-nav/business-info"><img style="width: 10%" class="rounded"
                        src="../../assets/images/business-information.svg"> Business Information</a>

            </div>
            <div id="admin" class="collapse col-sm-12 top " style="padding-left: 20px " data-parent="#accordion">
                <a routerLink="/side-nav/user"><img style="width: 10%" class="rounded"
                        src="../../assets/images/platform-settings.svg"> Platform Settings</a>

            </div>
            <div id="admin" class="collapse col-sm-12 top " style="padding-left: 20px " data-parent="#accordion">
                <a routerLink="/side-nav/user"><img style="width: 10%" class="rounded"
                        src="../../assets/images/billing-information.svg"> Billing Information</a>

            </div>
            <div id="admin" class="collapse col-sm-12 top " style="padding-left: 20px" data-parent="#accordion">
                <a routerLink="/side-nav/user"><img style="width: 10%" class="rounded"
                        src="../../assets/images/user-management.svg"> User Management</a>

            </div>
            <div id="admin" class="collapse col-sm-12 top " style="padding-left: 20px " data-parent="#accordion">
                <a routerLink="/side-nav/user"><img style="width: 10%" class="rounded"
                        src="../../assets/images/points-administration.svg"> Point Administration</a>

            </div><b>
                <div class="col-sm-12 top">
                    <a href="#">Leaderboard</a>
                </div>

                <div class="col-sm-12 top">
                    <a href="#">Reports</a>
                </div>

                <div class="col-sm-12 top">
                    <a href="#">Help Center</a>
                </div>
            </b>
        </div>
    </div>
    <div class="col-md-8 cont" style="height: 100%; display: block;">

        <router-outlet></router-outlet>
    </div>

    <div class="col-md-1" style="margin-left: 93%;margin-top:4%">
            <img src="../../assets/images/side.jpeg"  >
        </div>
</div>