<div style="border: 2px solid lightgrey ; width: 30%;margin-top: 3%; background-color: white;margin-left: 35%" class="container">
    <img src="https://www.xoxoday.com/img/new-ui-images/registration/team-onboard-step.svg"
        style="width: 60%; margin-left: 19%;">

    <div class="row">
        <div class="col-sm-12">
            <h4 style="text-align:center ;">Get your team onboard</h4>
        </div>
        <div class="col-sm-12" style="text-align: center">
            <small >Invite your team and start the journey of building an engaged and happy
                workforce</small>
        </div>
        <br>
        <br>
        <br>
                <div class="row">
                    <input type="text" style="border:1px solid lightgrey;margin-left: 9%; height: 35px" class="col-sm-10"
                        placeholder="  use1@abc.com" name="email1">
                    <br><br>
                    <input type="text" class=" col-sm-10"
                        style="margin-left: 9%;border:1px solid lightgrey;  height: 35px" placeholder="  use2@abc.com" name="email2">
                </div>
                <br>
                <div class="container">
                    <button type="button" class="btn btn-lg"
                        style="margin-left: 3%; border: none; background-color: white "><strong>+</strong>Add
                        More</button>
                </div>

                <a type="submit" class="btn btn-lg col-sm-10" routerLink="/sign-in"
                    style="margin-left: 9%; border: none;font-size: 15px;;height: 37px; margin-top:20px; color: white; background-color: rgb(255, 115, 0)">SEND
                     INVITES</a>
                <p style="text-decoration: none; text-align:center; color: rgb(255, 115, 0)">
                    <br>
                    <a style="text-decoration: none;margin-left: 145px; color: rgb(255, 115, 0) ;" href=" #">I will do this later</a></p>
            
    </div>
</div>