<div style="border: 2px solid rgb(223, 223, 243) ;margin-top: 3%; width: 30%; margin-left: 35%;background-color: white" class="container">
    <img src="https://www.xoxoday.com/img/new-ui-images/registration/compay-detail-step.svg"
        style="width: 70%; margin-left: 15%">

    <div class="col-sm-12">
        <h4 style="text-align:center ;">Company Details</h4>
    </div>
    <br>

        <div class=" row">

            <input type="text" placeholder="  Sub Domain" class="col-sm-5"
                style=" text-align: center; margin-left: 6%;height:35px">
                <span class="col-sm-6" style="height: 2%">.xoxoday.com</span><br><br>


            <a type="submit" class="btn btn-lg col-sm-10"
            routerLink="/nav-bar/add-team"
                style=" height:40px; border: none; margin-left: 5%; margin-top:20px;  color:white; background-color: rgb(255, 115, 0)"><strong>SUBMIT</strong></a>
        <br>
        <br>
        <br>
        <small style="text-align: center; margin-left: 5%;"class=" col-sm-10">The provided sub domain will be used to set up
            a microsite for your company. For e.g. subdomain.xoxoday.com</small>
        </div>
</div>