<form class="form scrollmenu" [formGroup]="businessForm">
    <div class="row  b-info">
        <div class="col-sm-6 ">
            <label>
                Company Name *<br>
                <input class="in " type="text" [formControlName]="cname">
            </label>
            <br>
            <label>
                Tax Id *<br>
                <input class="in " maxlength="15" placeholder="Please enter tax id max length 15 char" type="text"
                    [formControl]="tax">
            </label>
            <br>
            <label>
                Zip Code *<br>
                <input class="in " type="text" [formControlName]="zip">
            </label>

            <br>
            <label>
                State<br>
                <input class="in " type="text" [formControl]="state">
            </label>
            <br>
            <label>
                Contact No *<br>
                <input class="in " type="text" [formControlName]="contact">
            </label>
        </div>
        <div class="col-sm-6 ">
            <label>
                Website *<br>
                <input class="in" type="text" [formControl]="website">
            </label><br>
            <label>
                Address *<br>
                <input class="in" type="text" [formControl]="address">
            </label><br>
            <label>
                Country *<br>
                <input class="in" type="text" [formControl]="country">
            </label><br>
            <label>
                City<br>
                <input class="in" type="text" [formControl]="city">
            </label>
        </div>
        <!-- <div class="input-group  ">
                <div class="input-group-append">
                    <input type="text" class="input-drop" [formControl]="address">
                    <button type="button" class="btn  dropdown-toggle input-drop " data-toggle="dropdown"
                        style="border-left: 1px solid grey" aria-haspopup="true" aria-expanded="false">
                    </button>

                    <div class="dropdown-menu">
                    </div>
                </div>
            </div>
            <div class="input-group  " style="padding-top: 60px">
                <div class="input-group-append">
                    <input type="text" class="input-drop" [formControl]="address">
                    <button type="button" class="btn  dropdown-toggle input-drop " data-toggle="dropdown"
                        style="border-left: 1px solid grey" aria-haspopup="true" aria-expanded="false">
                    </button>

                    <div class="dropdown-menu">
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="row" style="padding-bottom: 35px;">
        <button type="submit" class="btn  btn-primary" value="submit">Submit</button>
    </div>

</form>