<div>
    <button type="button" class="btn btn-primary btn-large add" routerLink='/side-nav/award-recipient'> Give An Award
    </button>
</div>
<div class="row" style="border-bottom:2px solid blue;margin-left: 0.5%; ">
    <div class="col-sm-1">
        <img style="width: 100%" src="../../assets/images/profile.jpeg">
    </div>
    <div class="col-sm-8">
        <p style="font-size: 25px;"><b>Awards & Nominations</b></p>
    </div>
</div>
<br>
<br>
<div>

    <button type="button" class="btn filter ">Filter</button>
</div>
<br>
<div class="row" style="margin-left: 2%;background-color: white;margin-right: 1.5%;padding-bottom: 3%;">
    <img style="margin-left:22%; margin-top:5%" src="../../assets/images/awads.svg">
    <!-- <div class="valueImageBlock" style="background-image: url("
        https://xoxoday-images.s3.amazonaws.com/enterprise2/icons/badges/Insightful.png")> </div> 
    <div class="valueImageBlock" style="background-image: url("
        https://xoxoday-images.s3.amazonaws.com/enterprise2/icons/badges/Improver.png")> </div> 
    <div class="valueImageBlock" style="background-image: url("
        https://xoxoday-images.s3.amazonaws.com/enterprise2/icons/badges/Honest.png")> </div> 
    <div class="valueImageBlock" style="background-image: url("
        https://xoxoday-images.s3.amazonaws.com/enterprise2/icons/badges/Customer%20Focussed.png&quot;);">
    </div> -->
</div>