<div style="padding-right:0%"> 

    <div style="background: rgb(255, 115, 0);padding-right:0%">
        <p style=" text-align: center ; color: white; ">Xoxoday Integrates with SAP SuccessFactors</p>
    </div>
    <div class="row" style="padding-right:0%">
        <button type="button" class="col-sm-12 col-lg-1 btn-sm"
            style="margin-left: 80% ;border: none;background-color:transparent ">Support</button>
        <button type="button" class="col-sm-12 col-lg-1 btn-sm"
            style="margin-left: 2px ;border: none; background-color:transparent">Redeem</button>
    </div>
    <br>
    <div class="row logo">
        <img src="https://res.cloudinary.com/dyyjph6kx/image/upload/f_auto/webui/eng/xoxoday-logo.svg" class="col-lg-3"
            style="margin-left: 39% ;width: 1%">
    </div>
</div>
<router-outlet></router-outlet>