<div>
    <button type="button" class="btn btn-primary btn-large add" routerLink='/side-nav/award-recipient'><b><b>+</b>Create Budget</b></button>
</div>
<div class="row" style="border-bottom:2px solid blue;margin-left: 0.5%; ">
    <div class="col-sm-1">
        <img style="width: 100%" src="../../assets/images/profile.jpeg">
    </div>
    <div class="col-sm-8">
        <p style="font-size: 25px;"><b>Manage Budgets</b></p>
    </div>
</div>
<br>
<br>
<br>
<div class="row" style="margin-left: 2%;background-color: white;box-shadow: inset 0 0 3px grey;padding-top: 15px;padding-bottom: 15px;">
<div class="col-sm-1">
    General Purpose Budget
</div>
<span class="col-sm-1"></span>
<div class="col-sm-8">
    <p>This budget was auto created at this reward program,You can this but...</p>
</div>
<div class="col-sm-2" >
    0 Points
</div>
</div>