<div>
    <button type="button" class="btn btn-primary add" routerLink='/side-nav/add-user'> + </button>
    <button type="button" class="btn btn-primary bulk"><i class="fa fa-folder"></i></button>
</div>
<div class="row" style="border-bottom:2px solid blue;margin-left: 0.5%; ">
    <div class="col-sm-1">
        <img style="width: 100%" src="../../assets/images/profile.jpeg">
    </div>
    <div class="col-sm-8">
        <p style="font-size: 25px;"><b>User management</b></p>
    </div>
</div>
<br>
<br>
<br>
<br>
<span style="margin-left: 20px">User List</span>
<a style="margin-left: 70%; cursor: pointer;">Search</a>
<a style="margin-left: 5%; cursor:pointer">Filter</a>
<div class="row" style="margin-left:22%; margin-top:10%">

</div>