<div class="row"  style="border-bottom:2px solid blue;margin-left: 0.5%; margin-top:0%">
    <div class="col-sm-1">
        <img style="width: 100%" src="../../assets/images/profile.jpeg">
    </div>
    <div class="col-sm-8">
        <h6 style="font-size: 25px"><b>Rhitu Townhall</b></h6>
        <p>Interact with your entire Team here. Share and get Team-wide updates</p>
    </div>
</div>
<div class="row" style="margin-left:22%; margin-top:10%">

    <img src="https://rhitu.xoxoday.com/static/images/initiateConversation.svg">
    <p class="text-muted">Let it be known that you were brave enough to start a conversation.</p>
</div>