<div>
    <button type="button" class="btn btn-primary btn-large add" routerLink='/side-nav/add-awards'><b>+Add Gift</b></button>
</div>
<div class="row" style="border-bottom:2px solid blue;margin-left: 0.5%; ">
    <div class="col-sm-1">
        <img style="width: 100%" src="../../assets/images/profile.jpeg">
    </div>
    <div class="col-sm-8">
        <p style="font-size: 25px;"><b>Automated Greetings</b></p>
    </div>
</div>
<br>
<br>

<div class="row" style="margin-left:25%; margin-top:5%">

    <img src="../../assets/images/no_auto_gifts.png">
    <p class="text-muted" style="text-align: center">There are no greetings available at the moment.<br>
        But hey, that should not stop you from dropping a message for that person.</p>
</div>