<div class="row" style="border-bottom:2px solid blue;margin-left: 0.5%; ">
    <div class="col-sm-1">
        <img style="width: 100%" src="../../assets/images/business-information.svg">
    </div>
    <div class="col-sm-8">
        <p style="font-size: 25px;"><b>Business Information</b></p>
    </div>
</div>

<div class="row info" style="margin-top: 2%;border-top: 1px solid lightgrey">
      <a class="tab col-sm-3 justified"  routerLink="/side-nav/business-info/business-form" focus>Business Information</a>
        <a routerLink="/side-nav/business-info/site-info" class="col-sm-3 tab">Site Information</a>
 
</div>

    <router-outlet></router-outlet>